{% block html_head_container %}

{% include 'html-header.twig' %}
	{% block head %}
	{% endblock %}
	</head>
{% endblock %}

	<body class="{{body_class}}" data-template="base.twig">
		{% include 'nav.twig' %}

		{% block topper %}
		{% endblock %}

		<section id="content" role="main" class="content-wrapper">

			<div class="wrapper {{sidebar_class}}">
				{% block content %}
					Sorry, no content
				{% endblock %}
			</div>
			{% if sidebar %}
				<aside class="layout-sidebar">
					{{sidebar}}
				</aside>
			{% endif %}
		</section>

		{% block footer %}
			{% include 'footer.twig' %}
			{{ function('wp_footer') }}
		{% endblock %}

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="{{site.theme.link}}/bower_components/Instajam/dist/instajam.min.js"></script>
		<script src="{{site.theme.link}}/bower_components/quickshare/dist/quickshare.min.js"></script>
		{% block scripts %}
		{% endblock %}
		<script src="{{site.theme.link}}/static/js/site.js"></script>

	</body>
</html>
