<nav class="hidden-nav" role="navigation">
  <ul class="nav-width">
    <li class="nav__block">
      <h5 class="nav__block__title"><a class="nav__block__title-link" href="/about">About Clover</a></h5>
      <p class="nav__block__link"><a href="/about">A letter from our CEO, Ayr.<br>Our origins, our food, our mistakes</a></p>
    </li>
    <li class="nav__block">
      <h5 class="nav__block__title"><a class="nav__block__title-link" href="/locations">Locations</a></h5>
      <p class="nav__block__link"><a href="/locations">Today&rsquo;s menus &amp; hours,&nbsp;{{now|date('m.d')}}</a></p>
    </li>


    <li class="nav__block">
      <h3 class="nav__block__title"><a class="nav__block__title-link" href="/events">Events</a></h3>
      <ul class="nav__block__list">
      {% for event in events|slice(0, 1) %}
        {% if event.info_date == today %}
          {% set date_text = 'today' %}
        {% elseif  event.info_date == (today + 1) %}
          {% set date_text = 'tomorrow' %}
        {% else %}
          {% set date_text = 'on ' ~ event.info_date|date("m.d") %}
        {% endif %}
          {% if event %}
            <li class="nav__block__link">
              {% if event.url %}
                <a href="{{event.url}}" target="_blank">Join us for {{event.post_title}} {{date_text}} at {{event.info_time|date("g:i")}}<span class="nav__block__small-cap">{{event.info_time|date("a")}}</span></a>
              {% else %}
                <a href="/events/#events">Join us for {{event.post_title}} {{date_text}} at {{event.info_time|date("g:i")}}<span class="nav__block__small-cap">{{event.info_time|date("a")}}</span></a>
              {% endif %}
            </li>
        {% else %}
        {% endif %}
      {% endfor %}
        {% if events %}
          <li class="nav__block__link"><a href="/events/#events">Other Events</a></li>
        {% else %}
          <li class="nav__block__link"><a href="/events">Events at Clover</a></li>
        {% endif %}
      </ul>
    </li>

    <li class="nav__block">
      <h5 class="nav__block__title"><a class="nav__block__title-link" href="/careers">Careers at Clover</a></h5>
      <ul class="nav__block__list">

        <li class="nav__block__link"><a class="nav-employee" href="/were-glad-youre-on-our-team/"></a></li>
        <li class="nav__block__link"><a href="/careers">Join the team</a></li>
      </ul>
    </li>

    <li class="nav__block">
      <h5 class="nav__block__title">Learn More</h5>
      <ul class="nav__block__list">
        <li class="nav__block__link">
          <a href="/food">Food Philosophy</a>
        </li>
        <li class="nav__block__link">
          <a href="/careers/training">Employee Training</a>
        </li>
        <li class="nav__block__link">
          <a href="/csa">Farm Share Pick-ups</a>
        </li>
        <li class="nav__block__link">
          <a href="/catering">Catering</a>
        </li>

      </ul>
    </li>

  </ul>

{{options.feed}}

</nav><!-- #nav -->
