{% extends "base.twig" %}

{% block content %}
	<article class="post-type-{{post.post_type}}" id="post-{{post.ID}}">
		<section class="article-content">
			<div class="article-topper">
				<div class="article-topper__hgroup">
					<h1 class="article-h1">{{post.title}}</h1>
					<p class="blog-meta">
						<span class="blog-author">By<a href="{{post.author.path}}"> {{ post.author.name }} </a></span> <span class="blog-date">{{ post.post_date|date}}</span>
					</p>
				</div>
			</div>
			<div class="article-body">
				{{post.content}}
			</div>
			<section class="article-share-prompt">
				<h5>Like what you read?</h5>
				<a class="qs-link article-share-prompt__link" data-qs-service="twitter" data-qs-tweet-body="Clover Blog: {{post.title}}"><span class="article-share-prompt__link__text">Continue the conversation!</span></a>

			</section>
		</section>
		<section class="related-posts">

			{% if post.prev.date|date("Ymd") < "-180 days"|date("Ymd") %}
			  <h6 class="related-posts__title">More from the Archives</h6>
			{% else %}
				<h6 class="related-posts__title">Next Posts</h6>
			{% endif %}

			<div class="tease__grid">
				<div class="tease__grid">

				{% if post.prev.thumbnail.src %}
				  <article class="tease tease-{{post.prev.post_type}} tease--image" id="tease-{{post.prev.ID}}">
				{% else %}
				  <article class="tease tease-{{post.prev.post_type}}  tease--no-image" id="tease-{{post.prev.ID}}">
				{% endif %}
				  <div class="tease__inner">
				      {% if post.prev.thumbnail.src %}
				        <a href="{{post.prev.link}}" class="tease__img-mod">
				          <img class="tease__img" src="{{post.prev.thumbnail.src('large')}}" />
				        </a>
				      {% endif %}

				      <div class="tease__hgroup">
				        <!-- <a class="tease__overline" href="{{post.prev.category.link}}">{{post.prev.category}}</a> -->
				    		<h2 class="tease__hed"><a href="{{post.prev.link}}">{{post.prev.title}}</a></h2>
				    		<p class="tease__dek"><span class="tease__date">{{post.prev.date|date("j F, Y")}}:</span> {{post.prev.get_content|excerpt(57)}} <a href="{{post.prev.link}}">Read More</a></p>
				      </div>
				  </div>
				</article>


				{% if post.next.thumbnail.src %}
				  <article class="tease tease-{{post.next.post_type}} tease--image" id="tease-{{post.next.ID}}">
				{% else %}
				  <article class="tease tease-{{post.next.post_type}}  tease--no-image" id="tease-{{post.next.ID}}">
				{% endif %}
				  <div class="tease__inner">

				      {% if post.next.thumbnail.src %}
				        <a href="{{post.next.link}}" class="tease__img-mod">
				          <img class="tease__img" src="{{post.next.thumbnail.src('large')}}" />
				        </a>
				      {% endif %}

				      <div class="tease__hgroup">
				        <!-- <a class="tease__overline" href="{{post.next.category.link}}">{{post.next.category}}</a> -->
				    		<h2 class="tease__hed"><a href="{{post.next.link}}">{{post.next.title}}</a></h2>
				    		<p class="tease__dek"><span class="tease__date">{{post.next.date|date("j F, Y")}}:</span> {{post.next.get_content|excerpt(57)}} <a href="{{post.next.link}}">Read More</a></p>
				      </div>
				  </div>
				</article>

				</div>
			</div>
		</section>
	</article>
{% endblock %}
