<article class="tease tease-{{post.post_type}}" id="tease-{{post.ID}}">
  <div class="tease__inner">
  	{% block content %}

        <a href="{{post.link}}" class="tease__img-mod">
          {% if post.thumbnail.src %}
            <img class="tease__img" src="{{post.thumbnail.src}}" />
          {% endif %}
        </a>
      <div class="tease__hgroup">
        <!-- <a class="tease__overline" href="{{post.category.link}}">{{post.category}}</a> -->
    		<h2 class="tease__hed"><a href="{{post.link}}">{{post.title}}</a></h2>
    		<p class="tease__dek">{{post.get_content|excerpt(57)}} <a href="{{post.link}}">Read More</a></p>
      </div>
  	{% endblock %}
  </div>
</article>
